<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Layout3</title>
        <link rel="stylesheet" href="layout3.css">
    </head>

    <body>
        <section class="container">  
            <header class="top"></header>

            <section class="title"></section>

            <!-- Column1.1 -->

            <section class="col-1 border-help"></section><!-- 

                Column2 

            --><section class="col-2 border-help"></section><!-- 

                Column1.2 

            --><section class="col-1 border-help"></section><!-- 

                Column1.3 

            --><section class="col-1"></section>

        </section>
    </body>
</html>


