<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Layout1</title>
        <link rel="stylesheet" href="layout1.css">
    </head>

    <body>
        <section class="container">  
            <header class="top"></header>

            <!-- Column 1.1 -->

            <section class="col-1-3 border-help"></section><!--  

                Column 1.2

            --><section class="col-1-3 border-help"></section><!--  

                Column 1.3

            --><section class="col-1-3"></section>

            <!-- Column 2.1 -->

            <section class="col-1-2 border-help"></section><!--  

                Column 2.2

            --><section class="col-1-2"></section>

            <footer class="bottom"></footer>


        </section>
    </body>
</html>


